/* =============
    How
============= */

#how{
    
    div{
        h1{

        }
    }
    p{
        color: var(--blue)

    }
    ul{
        li{
            display: inline-block;
            padding: 300px;
            border: 1px solid var(--gray);
            border-radius: 14px;
            background-color: blue;
            padding: 2px;

            div{
                background-color: white;
                img{
                    margin-bottom: 50px;
                }
               
                h2{
                color:var(--blue)
                margin-bottom: 10px;
    
                }
            }
           
           
        }
    }
}

