/* =============
    Plans
============= */
#content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 60px;
    

}
#plans-startup{
    border: solid;
    border-color: var(--gray);
    display: flex;
    justify-content: center;
    padding: 40px;
    

    
        h3{
            padding: 5px 0;
            margin-left: 40px;

        }
        h1{
            padding: 5px 0;
            margin-left: 40px;
        }
        p{
            padding: 5px 0;
            margin-left: 40px;
        }
        button{
            margin: 15px;
        }
    
}

#plans-classic{
    border: solid;
    border-color: var(--purple);
    display: flex;
    justify-content: center;
    padding: 40px;
    

    aside{

        #purple{
            background-color: var(--purple);
        h3{
            background-color: var(--purple);
            padding: 5px 0;


        }
        h1{
            background-color: var(--purple);
            padding: 5px 0;
        }
    }
        p{
            padding: 5px 0;
            margin-left: 40px;
        }
        button{
            margin: 15px;
         
        }

        
    }

}
#plans-premium{
    border: solid;
    border-color: var(--gray);
    //display: inline-block;
    margin-left: auto 0;
    display: flex;
    justify-content: center;
    padding: 40px;

    h3{
        padding: 5px 0;
        margin-left: 40px;
    }

    h1{
        padding: 5px 0;
        margin-left: 40px;
    }
    p{
        padding: 5px 0;
        margin-left: 40px;
    }
    button{
        margin: 15px;

    
    }
    

}
