/* =============
    Footer
============= */

#footer{
    background-color: var(--orange);
    display: grid;
    grid-template-areas: ". logo . cr";
    grid-template-columns: 75% auto;
    max-width: 100%;

    

    img{
        display: grid;
        grid-area: logo;
        margin-left: 23px;
        margin-top: 4px;

        @include xl{
            margin-left: 67%;
        }

    }

    p{
        display: grid;
        grid-area: cr;
        color: var(--white);
        padding-top: 10px;
        
        @include xl{
            margin-left: 60%;
            margin-bottom: 2%;
        }
    }


}
