/* =============
    Footer
============= */
footer{
    color:var(--white) ;
    #footer-top{
        background-color: var(--blue);
        padding: 80px 0;

        h1{
            span{
                color: var(--green);
            }
        }
        p{
            color: var(--gray);
        }
    }
    #footer-bottom{
        background-color: var(--bluedark);
        padding: 27px 0;
        
        p{
            span{
                color: var(--green);
            }
        }
    }
}