/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 50px;
    align-items: center;

    #logo-container{
    display:flex;
    //margin-bottom: 25px;
    
    }
}   

