/* =============
    Header
============= */
header{
    background-color: var(--white);
}

nav{
    ul{
        li{
            a{

            }
        }
        #trial{
            a{
                background-color: var(--blue);
                color:var(--white) ;
                padding: 20px 28px;
                border-radius: 6px;


        }
    }
}
}