/* =============
    Buttons
============= */
button{
    border: 0;
}

.blue-btn{
    background-color: var(--light-blue);
    color:var(--white) ;
    padding: 20px 20px;
    border-radius: 6px;
    //margin: auto;
    transition: 0.25s;
    //display: flex;
    
}
.blue-btn:hover{
    color: var(--green);
}
