/* =============
    Buttons
============= */
button{
    border: none;
}

.blue-btn{
    background-color: var(--blue);
    color:var(--white) ;
    padding: 20px 28px;
    border-radius: 6px;
    margin-bottom: 8%;
    margin-top: 21%;
    transition: 0.25s;
}
.blue-btn:hover{
    color: var(--green);
}


.light-blue-btn{
    background-color: var(--light-blue);
    color:var(--white);
    padding: 20px 28px;
    border-radius: 6px;
    margin-bottom: 10%;
    margin-top: 28%;
}

.light-blue-btn:hover{
    color:var(--green)
}

.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    margin: 0 10px;
}

.slider-round{
    position: absolute;
    cursor: pointer;
    border: solid 1px var(--light-blue);
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    transition: .4s;
    border-radius: 34px;
}

.switch input{display:none}

.slider-round:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 2px;
    background-color: var(--light-blue);
    transition: 0.4s;
    border-radius: 50px;

}

input:checked + .slider-round{
    background-color: var(--lighter-blue);
}

input:checked + .slider-round:before{
    transform: translateX(45px);
}





