/* =============
    Base
============= */


body{

    background-color: var(--purple);
    main{
        display: grid;
        grid-template-columns: auto 1170px auto;
        grid-template-areas:". main-content ." ;

        #main-grid-item{
            grid-area: main-content;
            

         }
     }
 }

#html-tag{
    //margin-top: 60px;
    //margin-left: 100px;
    display: flex;
    justify-content: center;
    background-color: orangered;
    @include md{
        background-color: var(--blue);
    }
    @include xl{
        background-color: yellowgreen;
    }
    
}
